body {background-color: rgb(16, 63, 85);
color: whitesmoke;
font-family: Arial, Helvetica, sans-serif;
font-size-adjust: 120%;
margin: 15px;
padding 15px;
font-family: 'Macondo', 'Indie Flower', 'Josefin Sans', sans-serif;
}

h1 {font-size: 30px;
    color: white;


}
img {
    width: 150
    padding: 5 px;
    border: 5 px;
}
 
 h2{
     font-size: 22px;
     stroke: white
 }
ul.pic li {
    margin: 5px; 
    display: inline;
}

